<h2>
  paises
</h2>
<hr>
<ul class="list-group">
  <!-- <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    routerLink=""
    class="list-group-item">
    Home Page
  </li>
  <li
    routerLinkActive="active"
    routerLink="about"
    class="list-group-item">
    About Page
  </li>
  <li
    routerLinkActive="active"
    routerLink="contact"
    class="list-group-item">
    Contact Page
  </li> -->
  <li
    routerLink="countries/by-capital"
    routerLinkActive="active"
    class="list-group-item">
    capital Page
  </li>
  <li
    routerLink="countries/by-country"
    routerLinkActive="active"
    class="list-group-item">
    county Page
  </li>
  <li
    routerLink="countries/by-region"
    routerLinkActive="active"
    class="list-group-item">
    region Page
  </li>
</ul>
